<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{width: 400px; background: #000; padding: 10px; margin: auto;}
        .get{background-color: rgb(142, 143, 143); margin: auto; padding: 10px;}
        h2{font-size: 30px; color: #fff; text-align: center;}
        p{font-size: 30px; color: #fff;}
        button{padding: 10px; height: 40px; background-color: brown; color: #fff;}
        a{text-decoration: none; font-size: 20px; color: #fff; border-left: 2px solid #000;}
    </style>
</head>
<body>
    <div class="get">
        <h2>WELCOME TO GFT WEB DEVELOPMENT</h2>
    <nav>
        <a href="/contact">contact us</a>
    </nav>
        <p>we teach, train, and guide</p>
        <button>Click here to get started</button>
    </div>
</body>
</html>